mixin Breadcrumbs(list)
	div(class="inline-flex items-center gap-2 text-white")
		each item, index in list
			a(
				href=item.href,
				class="text-white font-medium transition",
				class={
					"text-opacity-60 hover:text-opacity-80": (index + 1) !== list.length
				}
			)= item.label
			if (index + 1) < list.length
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32" class="text-cetek-500"><circle cx="16" cy="16" r="8" fill="currentColor"/></svg>
